# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/

# Data & checkpoints
data/
data/**/*.jpg
data/**/*.jpeg
data/**/*.png
data/**/*.webp
data.tar.gz

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Outputs
outputs/

